body {
    font-family: Arial, sans-serif;
    background-color:#e7e7e7;
    color: #000000;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
}
.header {
    display: flex;
    justify-content: space-between;
}
.header .left {
    width: 60%;
}
.header h1 {
    font-size: 40px;
    margin: 0;
    color: black;
}
.header .right img {
    width: 100%;
    border-radius: 8px;
}
.header .right {
    width: 35%;
}
.rating {
    margin-top: 10px;
}
.rating span {
    color: gold;
}
.webinar-info {
    background-color: #e9e9e9;
    color: #333;
    border-radius: 8px;
    padding: 15px;
    margin-top: 20px;
}
.webinar-info h2 {
    font-size: 18px;
    margin-top: 0;
}
.price-section {
    background-color: #eaeaea;
    color: #333;
    border-radius: 8px;
    padding: 15px;
    margin-top: 20px;
    text-align: center;
}
.price-section p {
    margin: 5px 0;
}
.price-section .price {
    font-size: 24px;
    font-weight: bold;
}
.price-section button {
    background-color: #007ae1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.price-section button:hover {
    background-color: #035da6;
}
.h2 .materi {
    color: red;
}
